# Virtual Environment
venv/
.env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/secrets.toml

# Power BI Temporary Files
*.tmp

# Logs
*.log